- @siteName = "Site Name"
%head
  %meta{:charset => 'utf-8'}
  %title= @pageTitle+" | "+@siteName
  %meta{:name=>'description',:author=>'A website'}
  %meta{:name=>'author',:author=>'Optaros'}
  
  / Mobile Viewport Fix
  /       j.mp/mobileviewport & davidbcalhoun.com/2010/viewport-metatag 
  / device-width : Occupy full width of the screen in its current orientation
  / initial-scale = 1.0 retains dimensions instead of zooming out if page height > device height
  / maximum-scale = 1.0 retains dimensions instead of zooming in if page width < device width
  %meta{:name=>'viewport',:content=>'width=device-width; initial-scale=1.0; maximum-scale=1.0;'}
  
  / Place favicon.ico and apple-touch-icon.png in the root of your domain and delete these references
  / %link{:rel=>'shortcut icon',:href=>'/favicon.ico'}
  / %link{:rel=>'apple-touch-icon',:href=>'/apple-touch-icon.png'}
    
  = stylesheets :loader, :media => :screen
  = stylesheets :handheld, :media => :handheld
  
  / For hiding objects for js purposes while maintaining accessibility 
  %script document.write('<style>.js-hide {display: none}</style>');
  
  / All JavaScript at the bottom, except for Modernizr which enables HTML5 elements & feature detects
  = javascripts('lib/modernizr-1.5.min')
  / … but we're going to load jQuery in the head for the sake of quick widget snippeting
  = javascripts('lib/jquery-1.4.2.min')
  
  /[if IE 6]
    %link(href="/stylesheets/ie6.css" rel="stylesheet" type="text/css")
  /[if IE 8]
    %script (function(){var e="abbr,article,aside,audio,canvas,datalist,details,figure,footer,header,hgroup,mark,menu,meter,nav,output,progress,section,time,video".split(','),i=e.length;while(i--){document.createElement(e[i]);}}());