- @siteName = "Site Name"
%head
  %title= @pageTitle+" | "+@siteName
  = stylesheets :loader, :media => :screen
  %link(href="/javascripts/lib/polypage/skins/default.css" rel="stylesheet")
  %script document.write('<style>.js_hide {display: none}</style>');
  = javascripts('lib/jquery-1.4.2.min')
  = javascripts('lib/jquery.tools.min')
  = javascripts('lib/jquery.simplemodal-1.3.5')
  = javascripts('lib/polypage/lib/polypage.jquery')
  = javascripts('lib/polypage/lib/gui.polypage.jquery')
  = javascripts('common')
  /[if IE 6]
    %link(href="/stylesheets/ie6.css" rel="stylesheet" type="text/css")
  /[if IE 8]
    %script (function(){var e="abbr,article,aside,audio,canvas,datalist,details,figure,footer,header,hgroup,mark,menu,meter,nav,output,progress,section,time,video".split(','),i=e.length;while(i--){document.createElement(e[i]);}}());