%p 
  %small Now with more scss!
  
= javascripts('lib/jquery.tools.min')
= javascripts('lib/jquery.simplemodal-1.3.5')
= javascripts('lib/polypage/lib/polypage.jquery')
= javascripts('lib/polypage/lib/gui.polypage.jquery')
= javascripts('common')