%aside.main-rail
  .inner
    %h4 Lorem Ipsum
    %ul
      %li= link "Phasellus vitae eros vitae sem lobortis consequat.", "#"
      %li= link "Vestibulum eget nulla nisl, eget suscipit ipsum.", "#"
      %li= link "Integer quis velit enim, rhoncus ornare ipsum.", "#"
      %li= link "Fusce aliquet elit urna, nec hendrerit justo.", "#"

    %h4 Dolar sit
    %ul
      %li= link "Aliquam pellentesque massa sit amet odio imperdiet elementum.", "#"
      %li= link "Sed id felis id augue malesuada egestas at in ante.", "#"
      %li= link "In ornare felis sed diam faucibus in pellentesque quam imperdiet.", "#"
      %li= link "Nam porta tincidunt quam, ut cursus nisi interdum porttitor.", "#"
      %li= link "In lobortis diam a nisl congue scelerisque.", "#"