= partial('head')
%body.special
  .container
    .inner
      = partial('main_header')
      .main-content
        %section.main-section
          %article
            %hgroup
              %h2= @h2
              %h3= @h3
            = yield
        = partial('main_rail')
      = partial('main_footer')